.loginBackground{
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
}

.loginScreenBoxShadow{
    box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.75);
}

.bg-white-special{
    background-color: rgba(255, 255, 255, 0.727);
    backdrop-filter: blur(10px);
}