@tailwind base;
@tailwind components;
@tailwind utilities;



.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-500 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

::placeholder{
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.itemBoxShadow{
    box-shadow: 0px 0px 14px -9px rgba(0,0,0,0.75);
}

.react-datepicker__triangle{
     display: none !important;
}